@font-face {
  font-family: "Jost";
  src: url("Jost-VF.woff2");
  font-style: normal;
  font-weight: 350;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  src: url("et-book-bold.woff");
  font-family: "ET Book";
  font-style: normal;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

:root {
  /* Given a typical user font size of 16px, gives us a base of 10px */
  font-size: 62.5%;
  --main-bg-color: hsl(30, 100%, 99%);
  --serif-font: "ET Book";
}

body {
  font-size: 1.6rem;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  max-width: 120rem;
  line-height: 1.3;
  margin: 1rem auto;
  margin-bottom: 5rem;
}

section {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

li {
  list-style-type: none;
  /* Required for position:absolute to work. */
  position: relative;
}

li::before {
  content: "⩺"; /* ⨷ ⩺ ⏣ ⧁ ⧂ ⧃ Alternative bullets */
  position: absolute;
  left: -1.5rem; /* Bullet position */
  font-size: 1.5rem; /* Bullet size */
}

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo__wrapper {
  font-size: 1rem;
  width: 30.3rem;
  height: max-content;
  margin: 1rem;
  flex-grow: 1;
}


.logo {
  font-family: "Righteous", sans-serif;
  font-weight: 900;
  height: 12.8em;
  width: 12.8em;
  overflow: visible;
  position: relative;
}

.logo__img {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.jeff {
  font-size: 5.5em;
  display: inline-block;
  position: absolute;
  top: 25.5%;
  left: 88%;
  letter-spacing: 0.1em;
  /* Use translate trick so position is relative to center of text*/
  transform: translateY(-50%);
}

.chiou {
  font-size: 5.5em;
  display: inline-block;
  position: absolute;
  top: 76%;
  /* 66.7% is center of C if using transform trick */
  left: 100%;
  letter-spacing: 0.1em;
  /* Use translate trick so position is relative to center of text*/
  transform: translateY(-50%);
}

.github img {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.contact__ui {
  display: inline-block;
  grid-column-start: end;
  justify-self: center;
  width: max-content;
  height: max-content;
  margin: 1rem;
  margin-left: 2rem;
  --aug-border: 1px;
  padding: 2rem; /* mind the gap */
  --aug-border-bg: black;
  --aug-t-height: 5px;
  --aug-t-width: 60%;
  --aug-b-height: 5px;
  --aug-b-width: 60%;
  --aug-r-height: 60%;
  --aug-r-width: 5px;
  --aug-l-height: 60%;
  --aug-l-width: 5px;
}

header address {
  text-align: center;
}
header address a {
  font-style: normal;
  text-decoration: none;
  color: black;
}
article {
  columns: 2;
  column-gap: 5rem;
  column-width: 24rem; /* Allow column reflow */
}
.h2__ui {
  --aug-border: 1px;
  --aug-border-bg: black;
  padding: 10px 20px 10px 0px;
  margin: 0px 0px 1rem;
  text-align: right;
}

h2,
h3 {
  font-family: var(--serif-font);
  letter-spacing: 0.1rem;
}

h3 {
  font-family: var(--serif-font);
}
.h3__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.h3__header h3 {
  margin: 0;
}
.h3__header section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.h3__header p {
  color: slategray;
  text-align: right;
  margin: 0;
  font-size: 1em;
}

/* Selects employment place of work */
.h3__header p:nth-child(n + 2) {
  font-size: 0.8em;
}

.skills {
  columns: 2;
  column-width: 15rem;
}

.anti-break {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.skills ul {
  padding-left: 2rem;
}

.skills h3 {
  margin: 0;
}

.education p {
  margin: 0;
  padding-left: 3rem;
  margin-bottom: 1rem;
}

.education header + p {
  padding-top: 1rem;
  margin-bottom: 0rem;
}

.education header p {
  margin: 0;
  padding: 0;
}

.education h4 {
  margin: 0.5rem;
  font-weight: 400;
}

.education ul {
  margin: 0 0 1rem 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.projects h3 {
  margin: 0;
}

.extra {
  color: slategray;
}

main {
  margin: 0 5rem;
}

@media (max-width: 42rem) {
  main {
    margin: 0 1rem;
  }
}

/* Centers name for thin screens 
Note: since vars can't be used in media queries, manual calc is:
new-main-lr-margin * 2 + 35rem
*/
@media (max-width: 37em) {
  .logo__wrapper {
    flex-grow: 0;
  }
}